@import "tailwindcss";

body {
  background-color: #f5f0f0;
}

@layer components {
  .main-container {
    @apply container mx-auto px-4;
  }

  .links {
    @apply hover:text-primary cursor-pointer duration-200 transition-colors ease-in-out;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .desktop-only {
    @apply hidden lg:block;
  }

  .mobile-only {
    @apply block lg:hidden;
  }
}

@theme {
  --color-primary: #ff5252;
}

span.MuiBadge-badge {
  background-color: #ff5252 !important;
}

/* =============================== Swipper ============================ */
.swiper-button-next,
.swiper-button-prev {
  /* @apply bg-white rounded-full w-10 h-10 flex items-center justify-center !text-gray-800 shadow; */
  @apply bg-white hover:bg-[#ff5252] !size-11 !rounded-full duration-200 transition-colors ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply !text-base font-bold text-gray-950  duration-200 transition-colors ease-in-out;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: white;
}

/* ============================================================= */
